@{
    ViewData["Title"] = "Home Page";

}

<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Controls</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="TextBox">TextBox</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="TextArea">TextArea</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="CheckBox">CheckBox</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="Radio">Radio</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="DropDownList">DropDownList</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="ListBox">ListBox</a>
        </li>
    </ul>


</div>