@{
    ViewData["Title"] = "Home Page";

}

<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Multi-staged forms</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="PassReset">Password Reset</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="SignUp">Sign Up</a>
        </li>
      
    </ul>


</div>